aiodns        
aiohttp       
async-timeout 
cchardet      
certifi       
dataclasses   
elasticsearch 
fake-useragent
geographiclib 
geopy         
googletransx  
multidict                    
pycares       
pydub         
PySide2       
python-socks  
schedule      
setuptools    
shiboken2     
wheel         
wincertstore  
yarl          
